{% extends 'layout.html' %}

{%  block content  %}
        

      <div class="container">
        <h4>Futbol Central | Welcome, {{ team_name }}, you are the {{nick_name}}, you play at the {{ ground }}</h4>
        <hr>
       
        <ul class="list-group" id= "list_items">
        {% for r in results %}
            <li class="list-group-item">{{ r.body }}</li>
        {% endfor %}
           
       </ul>
        
       
      </div>
        
        

{% endblock content %}     
        
   